services:
  asmr-collections:
    image: ghcr.io/kahosan/asmr-collections:latest
    container_name: asmr_collections
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - DATABASE_URL=postgresql://postgres:secret@database:5432/postgres
      - REDIS_URL=redis://redis:6379 # 不用 redis 也可以，但推荐开启以持久化缓存
      # 从 https://jina.ai 获取 API Key
      - JINA_API_KEY=
    volumes:
      - ./covers:/app/covers # 封面文件夹
      # - ./transcode_cache:/app/transcode_cache # 转码缓存文件夹。如果需要转码功能，请将一个带有 libfdk_aac 编码器支持的 ffmpeg 可执行文件（建议使用静态编译版本）放入此文件夹。可从 https://johnvansickle.com/ffmpeg/ 或自行编译获取，确保 ffmpeg 支持 libfdk_aac，否则部分转码功能无法使用。
      # - ./VoiceWork:/media # 左边的路径修改为你本地的音频文件夹路径
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped

  database:
    container_name: asmr_postgres
    image: pgvector/pgvector:pg17-bookworm
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret # 请修改为更安全的密码
      POSTGRES_DB: postgres
    volumes:
      - ./pg-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s
    restart: unless-stopped

  redis:
    container_name: asmr_redis
    image: redis:8.2
    volumes:
      - ./redis-data:/data
    restart: unless-stopped